* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
}

body:after {
    content: "";
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url("../assets/backgroundImage.jpg");
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    margin-right: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressBar {
    width: 300px;
    height: 20px;
    background: red;
}

.progress {
    height: 100%;
    background: blue;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.additionalBtns {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buyBtn {
    border: 1px solid black;
    min-width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.buyBtn:hover{
    background: lightskyblue;
}

.buyBtn p {
    padding: 10px;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.money {
    color: black;
    height: 150px;
    font-size: 80px;
    display: flex;
    align-items: center;
}


.gameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

.task {
    padding: 40px 40px 40px 40px;
}


.timeLeft {
    color: white;
}